@if (User.IsInRole("Admin"))
{
    <div class="m-5">
        <span>You Want to Add New Student? </span>
        <a asp-action="Add" class="btn btn-outline-primary">Add</a>
    </div>
}

@if (User.IsInRole("HR") ||User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                @if (User.IsInRole("HR"))
                {
                    <th scope="col"></th>
                }


            </tr>
        </thead>
        <tbody>
            @foreach (Student student in Model)
            {
                <tr>
                    <th scope="row">@student.Id</th>
                    <td><img src="/Images/@student.Image" style="width:70px" /></td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Address</td>
                    @if (User.IsInRole("HR"))
                    {
                        <td>
                            <a class="btn btn-outline-primary" href="/student/Edit/@student.Id">Edit</a>
                            <a class="btn btn-primary" href="/student/details/@student.Id">Details</a>
                            <a class="btn btn-danger" onclick="openDeleteModalForStudents(@student.Id)">Delete</a>
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
    
}

